<html>
  <head>
    <title>Classes</title>
  </head>
  <body>
    <div id="content">Logged Out</div>
    <div id="click-me">click me</div>
    <div id="more">more</div>
    {{> script}}
  </body>
</html>